@charset "utf-8"; 

/* div.sticky { */
    /* position: -webkit-sticky; */
    /* position: sticky; */
    /* top: 0; */
    /* background-color: yellow; */
    /* padding: 50px; */
    /* font-size: 20px; */
  /* } */
/*  */

.jumbotron {
    background: rgb(240, 225, 197);
    border: 2px solid black;
    margin-bottom: 0;
     
  }
  

  body {
    margin: 20px;
    padding: 25px;
    background-color: white;
    color: black;
    
}

table, th, td {
  border:1px solid black;
  background: #fff;
}

.dark-mode {
  background-color: #808080;
  color: white;
}

  .fakeimg {
    height: 200px;
    background: rgb(221, 235, 98) 199, 190, 190;
  }

footer{
    background:  rgb(240, 225, 197);
    width: 100%;
    padding: 25px;
    border: 2px solid black;
    margin: 0px;
    border-radius: 15px;
    position:relative;
    bottom:0;
}

.fa-center{
    text-align: center;
}

.fa {

    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: 2px black;
}

.fa:hover {
    opacity: 0.7;

}

.fa-facebook {
    background: #3b5998;
    color: white; 
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}


/* dark mode switch*/











/* Dark theme below */

/* [data-theme="dark"] { */
  /* background-color: #0000; */
/* } */
/*  */
/* [data-theme="dark"] .jumbotron { */
  /* background-color: #808080; */
/* } */
/*  */
/* [data-theme="dark"] .list-group-item:not(.active) { */
  /* background-color: #303030; */
  /* border: 1px solid rgba(red, green, blue, alpha); */
/* } */
/*  */
/* [data-theme="dark"] .card { */
  /* background-color: #303030; */
  /* border: 1px solid rgba(red, green, blue, alpha); */
/* } */
/*  */
/* [data-theme="dark"] .card-header { */
  /* background-color: #444; */
  /* border-bottom: 1px solid rgba(red, green, blue, alpha); */
/* } */
/*  */
/* [data-theme="dark"] .card-footer { */
  /* background-color: #444; */
  /* border-top: 1px solid rgba(red, green, blue, alpha); */
/* } */
/* [data-theme="dark"] .modal-content { */
  /* background-color: #303030; */
  /* border: 1px solid #444; */
/* } */
/*  */
/* [data-theme="dark"] .modal-header { */
  /* border-bottom: 1px solid #444; */
/* } */
/*  */
/* [data-theme="dark"] .modal-footer { */
  /* border-top: 1px solid #444; */
/* } */
/*  */
/* [data-theme="dark"] .nav-tabs { */
  /* border-bottom: 1px solid #444; */
/* } */
/*  */
/* [data-theme="dark"] .nav-tabs a { */
  /* color: #fff; */
/* } */
/*  */
/* [data-theme="dark"] .nav-tabs .nav-link:hover, [data-theme="dark"]  .nav-tabs .nav-links:focus { */
  /* border.color: #444 #444 transparent; */
/* } */
/*  */
/* [data-theme="dark"]  .nav-tabs .nav-link.active, */
/* [data-theme="dark"]  .nav-tabs .nav-items.show .nav-link { */
  /* color: #fff; */
  /* background-color: #222; */
  /* border-color: #444 #444 transparent; */
/* } */
/*  */
/* [data-theme="dark"] .nav-pills .nav-link.active, */
/* [data-theme="dark"] .nav-pills .show> .nav-link { */
  /* color: #fff; */
  /* background-color: #375a7f;  */
/* } */
/*  */
/* [data-theme="dark"] .dropdown-menu { */
  /* color: #fff; */
  /* background-color: #222; */
  /* border: 1px solid #444; */
/* } */
/*  */
/* [data-theme="dark"] .dropdown-menu a:hover { */
  /* color: #333; */
/* } */
/*  */
/*  */
/*  */
/*  */
/* [data-theme="dark"] .dropdown-divider { */
  /* border-top: 1px solid #444; */
/* } */
/*  */
/* [data-theme="dark"] .bg-black { */
  /* background-color: #eee !important; */
/* } */
/*  */
/* [data-theme="dark"] .bg-secondary { */
  /* background-color: #444 !important; */
/* } */
/*  */
/* [data-theme="dark"] */
/*  */
/*  */
/*  */